[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
click = "*"

[dev-packages]
ipython = "*"
pycodestyle = "*"
pydocstyle = "*"
pylint = "*"
pyflakes = "*"
setuptools = "*"

[requires]
python_version = "3.6"
